<%= provide :title, t(:home) %>

<h1><%= t :greetings %></h1>
<p>
  <%= t :p_1 %>
  <a href="http://www.railstutorial.org/">
  <%= t :p_2 %></a>
  <%= t :p_3 %>
  <%= link_to t(:sign_up), signup_path, class: "btn btn-lg btn-primary" %>
  <br>
  <%= Date.today %>
</p>
